.main-page-container {
  height: 93vh;
  position: relative;
  display: grid;
  grid-template-rows: 6.2rem 1fr 5.2rem;
  overflow: hidden;
  z-index: 25;
}

.main-container {
  width: 200%;
  position: relative;
  display: flex;
  overflow: hidden;
}
