/* Phones-landscape */
@media (min-width: 30em) and (orientation: landscape) {
  .login-container {
    height: 150vh;
    align-items: center;
  }

  .login-background-image {
    height: inherit;
  }
}

/* Tablets-portrait */
@media (min-width: 45em) and (orientation: portrait) {
  .login-container {
    height: 100vh;
  }

  .login-cassette {
    width: 25rem;
    height: 38rem;
  }

  .logo {
    font-size: 3.4rem;
  }

  .login-input-warnings {
    padding-top: 0.2rem;
    margin-bottom: 4rem;
  }

  .login-input-warnings p {
    font-size: 1.6rem;
  }

  .login-username,
  .login-password {
    width: 19rem;
    height: 3.4rem;
    font-size: 1.6rem;
  }

  .login-btn {
    font-size: 1.8rem;
    width: 8rem;
    height: 3.2rem;
  }

  .main-page:link,
  .register:link {
    font-size: 1.7rem;
  }
}

/* Tablets-landscape */
@media (min-width: 65em) and (orientation: landscape) {
  .login-container {
    height: 100vh;
  }
}

/* Desktop */
@media (min-width: 75em) and (orientation: landscape) {
  .login-cassette {
    width: 19rem;
    height: 30rem;
  }
}
