.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  column-gap: 15px;
}

.controlPanel {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 20px;
  box-sizing: border-box;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.login {
  width: 70px;
  height: 30px;
  background-color: #86e993;
  /* background-color: pink; */
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: transform 0.15s;
}

.login:active {
  transform: translateY(2px);
}

.logout {
  width: 70px;
  height: 30px;
  background-color: #fa4c4c;
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: transform 0.15s;
}

.logout:active {
  transform: translateY(2px);
}

.register {
  width: 70px;
  height: 30px;
  background-color: #3744cf;
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: transform 0.15s;
}
.register:active {
  transform: translateY(2px);
}

.response {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resp {
  width: 90px;
  height: 40px;
  background-color: #fa4c4c;
  text-align: center;
  border: none;
  border-radius: 15px;
  transition: transform 0.15s;
}
