/* Phones */
@media (min-width: 30em) and (orientation: portrait) {
  .main-container {
    height: 100vh;
  }

  .login-cassette {
    width: 23rem;
    height: 35rem;
  }

  .logo-container {
    margin-bottom: 1.2rem;
  }

  .logo {
    font-size: 3rem;
  }

  .input-warnings {
    padding-top: 0.2rem;
    margin-bottom: 4rem;
  }

  .input-warnings p {
    font-size: 1.6rem;
  }

  .username-warn {
    margin-bottom: 3.7rem;
  }

  .username,
  .password {
    width: 17rem;
    height: 3.2rem;
    font-size: 1.3rem;
  }

  .username::placeholder,
  .password::placeholder {
    font-size: 1.4rem;
  }

  .login-btn {
    font-size: 1.6rem;
    width: 7rem;
    height: 3rem;
  }

  .main-page:link,
  .register:link {
    font-size: 1.6rem;
  }
}

/* Tablets */
@media (min-width: 45em) and (orientation: portrait) {
  .main-container {
    height: 100vh;
  }

  .login-cassette {
    width: 25rem;
    height: 38rem;
  }

  .logo {
    font-size: 3.4rem;
  }

  .input-warnings {
    padding-top: 0.2rem;
    margin-bottom: 4rem;
  }

  .input-warnings p {
    font-size: 1.6rem;
  }

  .username,
  .password {
    width: 19rem;
    height: 3.4rem;
    font-size: 1.6rem;
  }

  .login-btn {
    font-size: 1.8rem;
    width: 8rem;
    height: 3.2rem;
  }

  .main-page:link,
  .register:link {
    font-size: 1.7rem;
  }
}

/* Phones */
@media (min-width: 30em) and (orientation: landscape) {
  .main-container {
    height: 150vh;
  }

  .background-image {
    height: inherit;
  }
}

/* Tablets */
@media (min-width: 65em) and (orientation: landscape) {
  .main-container {
    height: 100vh;
  }
}

/* Desktop */
@media (min-width: 75em) and (orientation: landscape) {
  .login-cassette {
    width: 19rem;
    height: 30rem;
  }
}
