.login-container {
  --login-cassette-bg-color: #fafef990;
  --login-cassette-border-color: #c1c1c1;
  --logo-font-color: #333232;
  --input-warnings-font-color: #7f5f23;
  --user-pass-bg-color: #c1c1c199;
  --user-pass-font-color: #333232;
  --user-pass-border-color: #f0f0f0;
  --login-credentials-focus-border-color: #f0f0f0;
  --login-btn-bg-color: #464746;
  --login-btn-font-color: #cacaca;
  --login-btn-hover-border-color: #c1c1c1;
  --cassette-footer-links-font-color: #474747;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(0.9) blur(0.15rem);
}

.login-cassette {
  background-color: var(--login-cassette-bg-color);
  position: relative;
  width: 20rem;
  height: 33.4rem;
  padding: 1.6rem 0 1.4rem 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr;
  border-radius: 1.4rem;
  border: solid 0.2rem var(--login-cassette-border-color);
  transition: all 0.5s;
  box-shadow: 0 0.1rem 1rem 0.2rem rgba(0, 0, 0, 0.6);
}

.logo-container {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.logo {
  color: var(--logo-font-color);
  font-family: Pacifico;
  font-size: 2.8rem;
  text-align: center;
}

.input-fields,
.login-fields {
  display: grid;
  align-items: center;
  justify-items: center;
}

.input-fields {
  gap: 2.4rem;
}

.login-fields {
  margin-bottom: 3.2rem;
}

.input-fields,
.login-input-warnings {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.login-input-warnings {
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
  padding-top: 0.4rem;
  padding-left: 0.1rem;
  gap: 2rem;
}

.login-input-warnings p {
  color: var(--input-warnings-font-color);
  display: block;
  font-size: 1.4rem;
  font-family: Roboto;
}

.login-username-warn {
  margin-bottom: 3.4rem;
}

.login-username,
.login-password {
  background-color: var(--user-pass-bg-color);
  color: var(--user-pass-font-color);
  font-size: 1.2rem;
  width: 15rem;
  height: 2.6rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--user-pass-border-color);
  outline: 0;
  padding: 0.2rem 0.5rem 0 0.5rem;
  box-shadow: 0.2rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.login-username:focus,
.login-password:focus,
.login-btn:focus {
  border: solid 0.2rem var(--login-credentials-focus-border-color);
}

.login-btn:focus {
  border: solid 0.1rem var(--login-credentials-focus-border-color);
}

.login-username::placeholder,
.login-password::placeholder {
  font-size: 1.4rem;
}

.login-btn {
  background-color: var(--login-btn-bg-color);
  color: var(--login-btn-font-color);
  font-size: 1.3rem;
  font-family: Roboto;
  width: 7rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  outline: 0;
  transition: box-shadow 0.1s;
}

.login-btn:hover {
  box-shadow: 0 0 1rem rgba(30, 24, 24, 0.2);
}

.cassette-footer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
}

.main-page-link,
.register-link {
  background-color: transparent;
  color: var(--cassette-footer-links-font-color);
  font-family: Roboto;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
