/* Phones-landscape mode */
@media (min-width: 30em) and (orientation: landscape) {
  .register-container {
    height: 150vh;
    align-items: center;
  }

  .register-background-image {
    height: inherit;
  }
}

/* Tablets and desktop */
@media (min-width: 65rem) and (orientation: landscape) {
  .register-main-container {
    height: 100vh;
  }

  .register-input-warnings {
    padding-top: 6.5rem;
    padding-left: 3.1rem;
    gap: 2.7rem;
  }
}
